*{
    margin: 0;
    padding: 0;
}
body {
    background-color : rgb(190, 147, 230);
}
nav{
    background-color: gray;
    position:fixed;
    top: 0;
    width: 100%;
}
ul{
    display: flex;
    margin-left: 50px;
}
li{
    list-style: none;
    padding: 20px;
    font-size: 18px;
    cursor: pointer;
}
li a{
    text-decoration: none;
    color: black;
}
li:hover{
    background-color:cadetblue
}
h1{
    margin-top: 80px;
    color : #000000;
    text-align : center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
fieldset {
    width: 50%;
    margin: 20px auto;
    border: 2px solid black;
}
form{
    padding: 20px;
}
label{
    font-size: 22px;
}
.input{
    padding: 10px;
    width: 40%;
    border: 2px solid gray;
    border-radius: 5px;
}
.address{
    float: left;
}
#address{
    margin-left: 8px;
}
.btn{
    padding: 8px 20px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: olive;
    font-weight: bold;
}
.btn:hover{
    background-color: green;
    cursor: pointer;
}
input[type=radio], input[type=checkbox]{
    cursor: pointer;
}
  